<header class="bg-[#270D35] py-4">
  <div class="container mx-auto flex items-center justify-between px-6 md:px-12">
    <nav class="hidden md:flex space-x-8 text-white">

      <div class="flex items-center">
        <a href="/" class="text-white font-bold text-xl">
          <img src="/images/Ilustración_sin_título_Blanco.PNG" alt="RushDev" class="w-32 h-32" />
        </a>
      </div>

      <a href="/#services" class="hover:text-gray-300">Servicios</a>
      <a href="/#team" class="hover:text-gray-300">Equipo</a>
      <a href="/#success-cases" class="hover:text-gray-300">Casos de éxito</a>

    </nav>

    <div class="flex items-center space-x-4">
      <button class="bg-[#F1E7DC] text-[#270D35] px-4 py-2 rounded font-semibold hover:bg-[#d4cfc6] transition-colors">EN</button>
      <button class="bg-[#A02AEE] text-white px-6 py-2 rounded font-semibold hover:bg-[#9031cc] transition-colors">
        Contacto &rarr;
      </button>
    </div>
  </div>
</header>

<style is:global>
  header, nav a, button {
    z-index: 10;
  }
</style>
