---
---
<section class="hero bg-[#7A1CAC] text-white">
  <!-- <img src="/public/images/fondo.png" alt="Fondo" class="absolute inset-0 w-auto h-full object-cover" /> -->
  <div class="relative container mx-auto flex items-center justify-center h-full">
    <img src="/public/images/website-development.png" alt="Develop" class="w-auto h-[500px] mx-auto" />
  </div>
</section>
  