---
---
<section class="hero bg-[#7A1CAC] text-white">
  <div class="relative container mx-auto flex items-center justify-center h-full">
    <img src="/public/images/website-development.png" alt="Develop" class="w-[1000px] h-[500px] mx-auto" />
  </div>
</section>
  