---
export const teamMembers = [
  {
    name: "Arif Bordones 🥵",
    description: "Estudiante de Ingeniería en Tecnologías de Información, Desarrollador FullStack, con un gran interés en aprender el por qué de las cosas. Deportista y jugador de videojuegos en mi tiempo libre. De Ovalle",
    linkedin: "https://www.linkedin.com/in/arif-bordones-sierra/",
    github: "https://github.com/NashorSlayer",
    image: "https://media.licdn.com/dms/image/v2/D4E03AQENh_t_-F48Zw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1722398291596?e=1729728000&v=beta&t=OpolBo7DewWOsJXs_KQGDTnE9PyXUvtxmqqlZ_vsCEw",
  },
  {
    name: "Benjamin Ardiles 🟡⚫",
    description: "¡Hola! Soy estudiante de Ingeniería en Tecnologías de Información, apasionado por descubrir cómo funcionan las cosas. Amante de los autos, el fútbol y la programación, siempre estoy en busca de nuevas ideas de negocios y formas de integrarlas con la informática.",
    linkedin: "https://www.linkedin.com/in/benjamin-ardiles-jofre-311aa729b/",
    github: "https://github.com/benjardiles",
    image: "https://media.licdn.com/dms/image/v2/D4D03AQELal6mkf8DRg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1707495167595?e=1729728000&v=beta&t=NGd73fMyGqcK51Lj3DWekzm7uLxe6Y8a_nPL3QbI2jE",
  },
  {
    name: "Inti Cerda",
    description: "Me gusta la tecnología… así como los videojuegos y el anime. Poseo facilidad de aprender, sobre todo en cosas que me llaman la atención. De a poco creciendo en la programación… interesado más en el Backend que en el Frontend, pero con la meta de ser FullStack. Actual estudiante de Ing. Civil en Computación e Informática en la UCN. Y si… Inti y ya.",
    linkedin: "https://www.linkedin.com/in/inti-amaru-cerda-ramirez-704321321/",
    github: "https://github.com/IntiCerda/IntiCerda",
    image: "https://avatars.githubusercontent.com/u/72267794?v=4",
  },
  {
    name: "Bastián Egaña",
    description: "Soy estudiante de Ingeniería Civil en Computación e Informática, me gusta el área de Gestión de Proyectos, Análisis de Datos y Desarrollo Web. Me gusta realizar deportes como fútbol, basketball y padel, también realizar actividades con mis amigos.",
    linkedin: "https://www.linkedin.com/in/basti%C3%A1n-ega%C3%B1a-trujillo-4081a7237/",
    github: "https://github.com/ElVaquita",
    image: "https://media.licdn.com/dms/image/v2/D4E03AQG_w--WHVSbDA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1670718278340?e=1729728000&v=beta&t=Yc_8S0ZxJWn21L9Au8tZAPFnU4H__jEGzaS0FqopqnY",
  },
];
---

<section class="team">
  {
    teamMembers.map((member) => (
      <div class="team-member">
        <h3>{member.name}</h3>
        <p>{member.description}</p>
        <div class="social-links">
          <a href={member.linkedin} target="_blank" aria-label="LinkedIn">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1200px-LinkedIn_icon.svg.png"
              alt="LinkedIn"
            />
          </a>
          {member.github && (
            <a href={member.github} target="_blank" aria-label="GitHub">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png"
                alt="GitHub"
              />
            </a>
          )}
        </div>
      </div>
    ))
  }
</section>

<style>
  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .team-member {
    border: 2px solid #00adb5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .social-links {
    margin-top: 10px;
  }
  .social-links a {
    margin: 0 5px;
    color: #0073b1;
    text-decoration: none;
  }
  .social-links img {
    width: 24px;
    height: 24px;
  }
  @media (max-width: 768px) {
    .team {
      grid-template-columns: 1fr;
    }
  }
</style>
