---

---
<section class="services bg-white text-center" id="services">
    <div class="container mx-auto">
      <h2 class="text-4xl mt-12">Servicios</h2>
      <a>Cada servicio incluye como primer hito la entrega del diseño en Figma con su respectivo presupuesto e información relevante</a>
      <div class="grid grid-cols-3 gap-4 mt-12">



        
        <div class="service border-[#F1E7DC] border-2 p-8 rounded-lg">
          <h3 class="text-[#270D35] font-bold text-xl mt-4">Ecommerce (Proximamente)</h3>
          <p class="text-[#270D35] mt-4">Aqui ira la informacion de Ecommerce</p>
        </div>
        <div class="service bg-[#270D35] p-8 rounded-lg">
          <h3 class="text-[#F1E7DC] font-bold text-xl mt-4">Landing Page</h3>
          <p class="text-[#F1E7DC] mt-4">Aqui ira la informacion de Landing Page</p>
        </div>
        <div class="service border-[#F1E7DC] border-2 p-8 rounded-lg">
          <h3 class="text-[#270D35] font-bold text-xl mt-4">Aplicaciones Web (Proximamente)</h3>
          <p class="text-[#270D35] mt-4">Aqui ira la información de Aplciaciones Web</p>
      </div>
    </div>
  </section>

