---
---
<section class="services bg-white text-center mb-12" id="services">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-6 text-center mt-12">Servicios</h2> 
    <p class="text-gray-600 mb-12">Cada servicio incluye como primer hito la entrega del diseño en Figma con su respectivo presupuesto e información relevante.</p>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="service border-[#270D35] border-2 p-8 rounded-lg h-80 transition-transform transform hover:scale-105">
        <div class="icon bg-[#270D35] text-white p-4 rounded-full w-12 h-12 mx-auto mb-4">
        </div>
        <h3 class="text-[#270D35] font-bold text-xl mt-4">Ecommerce (Próximamente)</h3>
        <ul class="text-gray-600 mt-4">
          <li>Crea una tienda en línea personalizada</li>
          <li>Optimización para ventas</li>
          <li>Integración con pasarelas de pago</li>
          <li>Gestión de productos y categorías</li>
        </ul>
      </div>


      <div class="service bg-[#270D35] text-white p-8 rounded-lg h-80 transition-transform transform hover:scale-105">
        <div class="icon bg-[#F1E7DC] text-[#270D35] p-4 rounded-full w-12 h-12 mx-auto mb-4">

        </div>
        <h3 class="font-bold text-xl mt-4">Landing Page</h3>
        <ul class="mt-4">
          <li>Diseños personalizados y atractivos</li>
          <li>Optimización para conversiones</li>
          <li>Integración con herramientas de análisis</li>
          <li>Diseño responsive</li>
        </ul>
        <a href="https://www.instagram.com/rushdev.cl?igsh=MXB2MTRqamNwdmty" target="_blank" rel="noopener noreferrer" class="text-[#F1E7DC] font-bold underline" >Solicitar Servicio</a>
      </div>


      <div class="service border-[#270D35] border-2 p-8 rounded-lg h-80 transition-transform transform hover:scale-105">
        <div class="icon bg-[#270D35] text-white p-4 rounded-full w-12 h-12 mx-auto mb-4">

        </div>
        <h3 class="text-[#270D35] font-bold text-xl mt-4">Aplicaciones Web (Próximamente)</h3>
        <ul class="text-gray-600 mt-4">
          <li>Desarrollo de aplicaciones web a medida</li>
          <li>Interfaces intuitivas y fáciles de usar</li>
          <li>Integración con sistemas existentes</li>
          <li>Mantenimiento y actualizaciones</li>
        </ul>
      </div>
    </div>
  </div>
</section>
