---
---
<section class="team bg-purple-800 text-white">
    <div class="container mx-auto text-center">
      <h2>Conoce nuestro equipo</h2>
      <div class="grid grid-cols-4 gap-4">
        <div class="team-member border-2 border-white p-4 rounded-lg">
          <h3>Nombre</h3>
          <p>Descripcion</p>
          <div class="social-links">
            <a href="https://www.linkedin.com/" target="_blank" aria-label="LinkedIn">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1200px-LinkedIn_icon.svg.png"
                alt="LinkedIn"
              />
            </a>
            
        
      </div>
    </div>
  </section>
  