---
import Header from '../components/Header.astro';
import { ViewTransitions } from "astro:transitions"
---

<html lang="es">
  <head>
    <title>RushDev | Desarrollo de Software</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>

    <footer>
    </footer>
  </body>

  <style is:global>
    html {
      scroll-behavior: smooth;
    }
    nav a, button {
      pointer-events: auto;
    }
  </style>
</html>
